<footer class="rodape">
  <p class="p-5 text-center">Amazon Informática, <a href="http://www.amazoninf.com.br">www.amazoninf.com.br</a><br>
    <small>
      <a href="https://api.whatsapp.com/send?phone=5561983004001">
        <img src="assets/whatsapp.png" style="width: 40px; height: 30px;">
        (61) 98300-4001,
      </a><br>
      <a href="mailto:marco.brites@amazoninf.com.br">
        <img src="assets/email.png" style="width: 20px; height: 15px;">&nbsp;&nbsp;
        marco.brites@amazoninf.com.br
      </a>
    </small>
  </p>
</footer>
