<div class="form-group">
  <mat-form-field appearance="fill">
    <mat-label>Identificacao</mat-label>
    <input matInput [(ngModel)]="identificacao" name="identificacao" readonly="true">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="participante" name="participanteNome" readonly="true">
  </mat-form-field>
</div>

<h3 class="text-info mt-4">Votações</h3>

<mat-tab-group>
  <mat-tab label="Lista" *ngIf="listaVisivel">
    <div class="d-sm-flex justify-content-between">
      <div>
        <label>Filtrar: &nbsp;&nbsp;&nbsp;</label>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" [(ngModel)]="filtro" id="filtroF" name="filtro" class="custom-control-input" value="F">
          <label class="custom-control-label" for="filtroF">Futuras</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" [(ngModel)]="filtro" id="filtroE" name="filtro" class="custom-control-input" value="E">
          <label class="custom-control-label" for="filtroE">Em Andamento</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" [(ngModel)]="filtro" id="filtroX" name="filtro" class="custom-control-input" value="X">
          <label class="custom-control-label" for="filtroX">Encerradas</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" [(ngModel)]="filtro" id="filtroT" name="filtro" class="custom-control-input" value="">
          <label class="custom-control-label" for="filtroT">Todas</label>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Pesquisar</mat-label>
          <input matInput [(ngModel)]="filtroTexto" name="filtroTexto">
        </mat-form-field>
      </div>
    </div>
    <small>({{(votacao?.votacaoLista | callback: filtrarVotacao: [filtro, situacao, filtroTexto])?.length}}) registro(s)
      encontrado(s)</small>

    <div class="table-responsive"
      *ngIf="(votacao?.votacaoLista | callback: filtrarVotacao: [filtro, situacao, filtroTexto])?.length">
      <table class="table table-strike">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Início</th>
            <th>Término</th>
            <th>Situação</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let vot of votacao?.votacaoLista | callback: filtrarVotacao: [filtro, situacao, filtroTexto]; let i = index">
            <td>{{i + 1}}.</td>
            <td>{{vot.nome}}</td>
            <td>{{vot.inicio | date : 'dd/MM/yyyy HH:mm' : 'GMT-3:00'}}</td>
            <td>{{vot.termino | date : 'dd/MM/yyyy HH:mm' : 'GMT-3:00'}}</td>
            <td>{{situacao(vot.inicio, vot.termino).nome}}</td>
            <td>
              <button type="button" class="btn btn-success btn-sm"
                *ngIf="situacao(vot.inicio, vot.termino).sigla === 'E'" (click)="votar(vot)">
                Votar
              </button>
              <button type="button" class="btn btn-primary btn-sm"
                *ngIf="situacao(vot.inicio, vot.termino).sigla === 'X'" (click)="verResultado(vot)">
                Ver Resultado
              </button>
              <div class="alert alert-primary" *ngIf="situacao(vot.inicio, vot.termino).sigla === 'F'">
                Aguarde ...
              </div>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Cédula de Votação" *ngIf="votacaoVisivel">
    <div class="table-responsible">
      <table class="table table-striked">
        <thead>
          <!-- <tr>
            <td colspan="4">{{sessaoVotacao | json}}</td>
          </tr> -->
          <tr>
            <td colspan="4">
              <h1><b><u>{{sessaoVotacao.nome}}</u></b></h1>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <h2>{{sessaoVotacao.descricao}}</h2>
            </td>
          </tr>
        </thead>
        <ng-template ngFor let-pauta [ngForOf]="sessaoVotacao.pautaLista" let-i="index">
          <thead class="thead-dark">
            <tr>
              <th><b>{{i+1}}.</b></th>
              <th><b>{{pauta.nome}}</b></th>
              <th colspan="2">
                {{pauta.descricao}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let opcao of pauta.opcaoLista; let j = index">
              <td>{{i+1}}.{{j+1}}.</td>
              <td>{{opcao.nome}}</td>
              <td>
                <pre>{{opcao.descricao}}</pre>
              </td>
              <td>
                <div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" [(ngModel)]="opcao.voto" id="votoS" name="voto{{i}}{{j}}"
                      class="custom-control-input" value="S">
                    <label class="custom-control-label" for="votoS">Sim</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" [(ngModel)]="opcao.voto" id="votoB" name="voto{{i}}{{j}}"
                      class="custom-control-input" value="">
                    <label class="custom-control-label" for="votoB">Em Branco</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" [(ngModel)]="opcao.voto" id="votoN" name="voto{{i}}{{j}}"
                      class="custom-control-input" value="N">
                    <label class="custom-control-label" for="votoN">Não</label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>

        </ng-template>
      </table>
    </div>

    <button mat-button class="btn btn-primary" (click)="confirmarOpcoes()">Continuar</button>
    <button mat-button class="btn btn-secondary" (click)="listaVisivel=true;votacaoVisivel=false;">Voltar</button>
  </mat-tab>
  <mat-tab label="Confirmação do Voto" *ngIf="confirmacaoVisivel">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password">
      </mat-form-field>
    </div>
    <button mat-button color="primary" (click)="confirmarVoto()">Confirmar</button>
    <button mat-button color="secondary" (click)="listaVisivel=true;confirmacaoVisivel=false;">Cancelar</button>
  </mat-tab>
  <mat-tab label="Resultado" *ngIf="resultadoVisivel">
    <button mat-button color="secondary" (click)="voltarResultado()">Voltar</button>
  </mat-tab>
</mat-tab-group>
