<h2 class="text-info">Listagem de Votações</h2>

<div class="table-responsive">
  <table class="table table-striped" style="width: 100%;" *ngIf="entidade?.length">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Codigo</th>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Início</th>
        <th>Término</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of entidade; let i = index">
        <td>
          {{i+1}}.
        </td>
        <td>
          {{registro.codigo}}
        </td>
        <td>
          {{registro.nome}}
        </td>
        <td>
          <pre>{{registro.descricao}}</pre>
        </td>
        <td>
          {{registro.inicio | date : 'dd/MM/yyyy HH:mm' : 'GMT-3:00'}}
        </td>
        <td>
          {{registro.termino | date : 'dd/MM/yyyy HH:mm' : 'GMT-3:00'}}
        </td>
        <td>
          <div>
            <div>
              <button type="button" mat-button class="btn btn-secondary" [routerLink]="[registro.id]">Editar</button>
              <button type="button" mat-button class="btn btn-secondary">Excluir</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
