<!--
/{{frm?.valid | json}}/
/{{frm?.value | json}}/
-->

<form [formGroup]="frm" (submit)="enviar($event)">

  <h1 class="mt-5 text-info">Cadastro de Votação</h1>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput mat-autosize formControlName="descricao"></textarea>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Início</mat-label>
      <input matInput type="datetime-local" formControlName="inicio" [min]="agora()">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Término</mat-label>
      <input matInput type="datetime-local" formControlName="termino" [min]="agora()">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="senha">
    </mat-form-field>
  </div>

  <h2 class="mt-5 text-info">Pautas</h2>
  <div class="table-responsive">
    <table class="table table-striped" style="width: 100%;"
      *ngIf="getLista(frm, 'pautaLista').controls.length" formArrayName="pautaLista">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Código</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Quantidade Escolhida</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-pauta [ngForOf]="getLista(frm, 'pautaLista').controls" let-i="index">
          <tr [formGroupName]="i">
            <th>
              {{i+1}}.
            </th>
            <td>
              <label *ngIf="!pauta['editando']">{{pauta.value.codigo}}</label>
              <div class="form-group" *ngIf="pauta['editando']">
                <mat-form-field appearance="fill">
                  <mat-label>Código</mat-label>
                  <input matInput formControlName="codigo">
                </mat-form-field>
              </div>
            </td>
            <td>
              <label *ngIf="!pauta['editando']">{{pauta.value.nome}}</label>
              <div class="form-group" *ngIf="pauta['editando']">
                <mat-form-field appearance="fill">
                  <mat-label>Nome</mat-label>
                  <input matInput formControlName="nome">
                </mat-form-field>
              </div>
            </td>
            <td>
              <label *ngIf="!pauta['editando']"><pre>{{pauta.value.descricao}}</pre></label>
              <div class="form-group" *ngIf="pauta['editando']">
                <mat-form-field appearance="fill">
                  <mat-label>Descrição</mat-label>
                  <textarea matInput mat-autosize formControlName="descricao"></textarea>
                </mat-form-field>
              </div>
            </td>
            <td>
              <label *ngIf="!pauta['editando']">{{pauta.value.quantidadeEscolha}}</label>
              <div class="form-group" *ngIf="pauta['editando']">
                <mat-form-field appearance="fill">
                  <mat-label>Quantidade de Escolhas</mat-label>
                  <input matInput type="number" formControlName="quantidadeEscolha">
                </mat-form-field>
              </div>
            </td>
            <td>
              <div *ngIf="!pauta['editando']">
                <button type="button" mat-button class="btn btn-secondary btn-sm"
                  (click)="pautaEditar(pauta)">Editar</button>
                <button type="button" mat-button class="btn btn-secondary btn-sm"
                  (click)="pautaExcluir(frm, i)">Excluir</button>
              </div>
              <div *ngIf="pauta['editando']">
                <button type="button" mat-button class="btn btn-secondary btn-sm"
                  (click)="pautaSalvar(pauta)">salvar</button>
              </div>
            </td>
          </tr>
          <tr [formGroupName]="i">
            <td>&nbsp;</td>
            <td colspan="5">

              <h3 class="mt-5 text-info">Opções</h3>
              <div class="table-responsive">
                <table class="table table-striped" style="width: 100%;"
                  *ngIf="getLista(pauta, 'opcaoLista').controls.length">
                  <thead class="thead-dark">
                    <tr>
                      <th>#</th>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Descrição</th>
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="opcaoLista">
                    <tr *ngFor="let opcao of getLista(pauta, 'opcaoLista').controls; let j = index" [formGroupName]="j">
                      <td>
                        {{j+1}}.
                      </td>
                      <td>
                        <label *ngIf="!opcao['editando']">{{opcao.value.codigo}}</label>
                        <div class="form-group" *ngIf="opcao['editando']">
                          <mat-form-field appearance="fill">
                            <mat-label>Código</mat-label>
                            <input matInput formControlName="codigo">
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <label *ngIf="!opcao['editando']">{{opcao.value.nome}}</label>
                        <div class="form-group" *ngIf="opcao['editando']">
                          <mat-form-field appearance="fill">
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="nome">
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <label *ngIf="!opcao['editando']"><pre>{{opcao.value.descricao}}</pre></label>
                        <div class="form-group" *ngIf="opcao['editando']">
                          <mat-form-field appearance="fill">
                            <mat-label>Descrição</mat-label>
                            <textarea matInput mat-autosize formControlName="descricao"></textarea>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div>
                          <div *ngIf="!opcao['editando']">
                            <button type="button" mat-button class="btn btn-secondary btn-sm"
                              (click)="opcaoEditar(opcao)">Editar</button>
                            <button type="button" mat-button class="btn btn-secondary btn-sm"
                              (click)="opcaoExcluir(frm, j)">Excluir</button>
                          </div>
                          <div *ngIf="opcao['editando']">
                            <button type="button" mat-button class="btn btn-secondary btn-sm"
                              (click)="opcaoSalvar(opcao)">salvar</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button type="button" mat-button class="btn btn-secondary btn-sm btn-block"
                (click)="opcaoIncluir(pauta)">Incluir Opção</button>

            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <button type="button" mat-button class="btn btn-secondary btn-sm btn-block" (click)="pautaIncluir(frm)">Incluir
    Pauta</button>

  <h2 class="mt-5 text-info">Participantes</h2>

  <input type="file" class="btn btn-secondary btn-sm" (change)="lerArquivo($event)">
  <button type="button" mat-button class="btn btn-secondary btn-sm" (click)="enviarLinkTodos()"
    *ngIf="getLista(frm, 'participanteLista').controls.length">Enviar Link a
    Todos</button>
  <div class="table-responsive">
    <table class="table table-striped" style="width: 100%;"
      *ngIf="getLista(frm, 'participanteLista').controls.length">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Identificação</th>
          <th>Nome</th>
          <th>Contato</th>
          <th>Senha</th>
          <th>Votou</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody formArrayName="participanteLista">
        <tr *ngFor="let participante of getLista(frm, 'participanteLista').controls; let i = index" [formGroupName]="i">
          <td>
            {{i+1}}.
          </td>
          <td>
            <label *ngIf="!participante['editando']">{{participante.value.identificacao}}</label>
            <div class="form-group" *ngIf="participante['editando']">
              <mat-form-field appearance="fill">
                <mat-label>Identificação</mat-label>
                <input matInput formControlName="identificacao">
              </mat-form-field>
            </div>
          </td>
          <td>
            <label *ngIf="!participante['editando']">{{participante.value.nome}}</label>
            <div class="form-group" *ngIf="participante['editando']">
              <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
              </mat-form-field>
            </div>
          </td>
          <td>
            <label *ngIf="!participante['editando']">{{participante.value.contato}}</label>
            <div class="form-group" *ngIf="participante['editando']">
              <mat-form-field appearance="fill">
                <mat-label>Contato</mat-label>
                <input matInput formControlName="contato">
              </mat-form-field>
            </div>
          </td>
          <td>
            <label *ngIf="!participante['editando']">****</label>
            <div class="form-group" *ngIf="participante['editando']">
              <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="senha">
              </mat-form-field>
            </div>
          </td>
          <td>
            <mat-checkbox [checked]="participante.value.votou" [disabled]="true"></mat-checkbox>
          </td>
          <td>
            <div>
              <div *ngIf="!participante['editando']">
                <button type="button" mat-button class="btn btn-secondary btn-sm"
                  (click)="participanteEditar(participante)">Editar</button>
                <button type="button" mat-button class="btn btn-secondary btn-sm"
                  (click)="participanteExcluir(frm, i)">Excluir</button>
                <button type="button" mat-button class="btn btn-secondary btn-sm"
                  (click)="enviarLink(participante.value)">Enviar
                  Link</button>
              </div>
              <div *ngIf="participante['editando']">
                <button type="button" mat-button class="btn btn-secondary btn-sm"
                  (click)="participanteSalvar(participante)">salvar</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" mat-button class="btn btn-secondary btn-sm btn-block" (click)="participanteIncluir(frm)">Incluir
    Participante</button>

  <div class="text-right footer navbar-fixed-bottom p-4">
    <button type="submit" mat-button class="btn btn-primary btn-block">Salvar</button>
  </div>

</form>
