.glass-wrap {
  backdrop-filter: blur(5px);
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3),
    inset 5px -5px 0px 5px rgba(200, 200, 200, 0.15),
    inset -2px -2px 0px 5px rgba(195, 195, 195, 0.15);
}
.glass {
  background: rgba(180, 180, 180, 0.3);
}
