<form class="text-left" [formGroup]="frm" (ngSubmit)="enviar()">

    <p class="h5 mb-4 text-left">Filtrar</p>

    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Login do Usuario" formControlName="login">
        </mat-form-field>
        <div class="text-danger" *ngIf="isEnviado && frm.controls.login.invalid">
            <div *ngIf="frm.controls.login.errors.required">
                Campo obrigatório!
            </div>
        </div>
    </div>

    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="E-mail do Usuario" formControlName="email">
        </mat-form-field>
        <div class="text-danger" *ngIf="isEnviado && frm.controls.email.invalid">
            <div *ngIf="frm.controls.email.errors.required">
                Campo obrigatório!
            </div>
        </div>
    </div>

    <div class="form-group">
        <mat-label>Ativo:</mat-label>
        <mat-radio-group formControlName="ativo" aria-label="Selecione uma Opção">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">
                    <mat-radio-button value="">Todos</mat-radio-button>
                </li>
                <li class="list-group-item list-group-item-action" *ngFor="let e of confirmacaoList">
                    <mat-radio-button value="{{e.chave}}">
                        {{e.valor}}
                    </mat-radio-button>
                </li>
            </ul>
        </mat-radio-group>
        <div class="text-danger" *ngIf="isEnviado && frm.controls.ativo.invalid">
            <div *ngIf="frm.controls.ativo.errors.required">
                Campo obrigatório!
            </div>
        </div>
    </div>

    <div class="form-group">
        <mat-label>Perfil:</mat-label>
        <mat-radio-group aria-label="Selecione mais de uma Opção">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">
                    <a (click)="marcarTodosNenhum()"> Todos/Nenhum </a>
                </li>
                <li class="list-group-item list-group-item-action">
                    <mat-checkbox [(ngModel)]="admin" [ngModelOptions]="{standalone: true}">
                        Admin
                    </mat-checkbox>
                </li>
                <li class="list-group-item list-group-item-action">
                    <mat-checkbox [(ngModel)]="cliente" [ngModelOptions]="{standalone: true}">
                        Cliente
                    </mat-checkbox>
                </li>
                <li class="list-group-item list-group-item-action">
                    <mat-checkbox [(ngModel)]="parceiro" [ngModelOptions]="{standalone: true}">
                        Parceiro
                    </mat-checkbox>
                </li>
            </ul>
        </mat-radio-group>
    </div>

    <button class="btn btn-success btn-block" type="submit">Enviar</button>
    <button class="btn btn-secondary btn-block" type="button" (click)="carregar(null)">Limpar Campos do Filtro</button>

</form>

<div class="alert alert-warning mt-5" role="alert" *ngIf="!prod">
    <p><b>prod: {{prod}}</b></p>
    <p>st /{{frm.status}}/</p>
    <div>er
        <pre [innerHTML]="frm.errors | jsonFormat"></pre>
    </div>
    <div>vl
        <pre [innerHTML]="frm.value | jsonFormat"></pre>
    </div>
</div>
