<div *ngIf="entidade">

  <p>Olá <b>{{entidade.participante.nome}}</b>.</p>

  <h3 class="text-info mt-4">Este é o seu Painel de Votações</h3>

  <p class="text-justify">Aqui, além de votar, você pode acompanhar votações em andamento, conferir resultados de
    votações
    encerradas e ver quais votações futuras estarão disponíveis em breve.</p>

  <p class="text-justify">A seguir, veja o quadro de votações.</p>

  <p class="text-justify">Utilize o filtro para selecionar votações pelo estado atual em que se encontram. Como já
    mencionado, há votações futuras, em
    andamento e encerradas. Verifique abaixo qual
    destas opções deseja consultar.</p>

  <p class="text-justify"> Também é possível pesquisar votações por nome. Para isso, selecione o filtro "Todas" e
    escreva
    no campo "Pesquisar"
    o nome da votação desejada.</p>

  <p>Filtro: <small>
      ({{(entidade.votacaoLista | callback: filtrarVotacao: [filtro, situacao, filtroTexto])?.length}})
      registro(s)
      encontrado(s)
    </small>
  </p>

  <div class="d-sm-flex justify-content-between border border-secondary">
    <div style="font-size:70%">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="filtro" id="filtroT" name="filtro" class="custom-control-input" value="">
        <label class="custom-control-label" for="filtroT">Todas</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="filtro" id="filtroF" name="filtro" class="custom-control-input" value="F">
        <label class="custom-control-label" for="filtroF">Futuras</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="filtro" id="filtroE" name="filtro" class="custom-control-input" value="E">
        <label class="custom-control-label" for="filtroE">Em Andamento</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="filtro" id="filtroX" name="filtro" class="custom-control-input" value="X">
        <label class="custom-control-label" for="filtroX">Encerradas</label>
      </div>
    </div>
    <div class="form-group" *ngIf="filtro===''">
      <mat-form-field appearance="fill">
        <mat-label>Pesquisar</mat-label>
        <input matInput [(ngModel)]="filtroTexto" name="filtroTexto">
      </mat-form-field>
    </div>
  </div>

  <div class="alert alert-warning"
    *ngIf="!(entidade.votacaoLista | callback: filtrarVotacao: [filtro, situacao, filtroTexto])?.length">
    <b>Atenção!</b> Nenhum registro localizado. Verifique o filtro informado.
  </div>

  <div class="table-responsive"
    *ngIf="(entidade.votacaoLista | callback: filtrarVotacao: [filtro, situacao, filtroTexto])?.length">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Início</th>
          <th>Término</th>
          <th>Situação</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let vot of entidade.votacaoLista | callback: filtrarVotacao: [filtro, situacao, filtroTexto]; let i = index">
          <td>{{i + 1}}.</td>
          <td>{{vot.nome}}</td>
          <td>{{vot.inicio | date : 'dd/MM/yyyy HH:mm' : 'GMT-3:00'}}</td>
          <td>{{vot.termino | date : 'dd/MM/yyyy HH:mm' : 'GMT-3:00'}}</td>
          <td>{{situacao(vot.inicio, vot.termino).nome}}</td>
          <td>
            <div class="alert alert-success" *ngIf="vot.votou && situacao(vot.inicio, vot.termino).sigla === 'E'">
              O seu voto já foi registrado!
            </div>
            <button type="button" class="btn btn-success btn-sm" *ngIf="!vot.votou && situacao(vot.inicio, vot.termino).sigla === 'E'"
              [routerLink]="[vot.id]">
              Votar
            </button>
            <button type="button" class="btn btn-primary btn-sm" *ngIf="situacao(vot.inicio, vot.termino).sigla === 'X'"
              [routerLink]="['../', 'resultado', vot.id]">
              Ver Resultado
            </button>
            <div class="alert alert-primary" *ngIf="situacao(vot.inicio, vot.termino).sigla === 'F'">
              Aguarde ...
            </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>
