/{{frm.valid | json}}/
/{{frm.value | json}}/

<form [formGroup]="frm">

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput mat-autosize formControlName="descricao"></textarea>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Início</mat-label>
      <input matInput type="datetime-local" formControlName="inicio" [min]="agora()">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Término</mat-label>
      <input matInput type="datetime-local" formControlName="termino" [min]="agora()">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="senha">
    </mat-form-field>
  </div>

  <h2>Pautas</h2>
  <button mat-button (click)="pautaIncluir(frm)">Incluir</button>
  <table class="table table-responsive table-striped" style="width: 100%;"
    *ngIf="getLista(frm, 'pautaLista').controls.length" formArrayName="pautaLista">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Código</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Quantidade Escolhida</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-pauta [ngForOf]="getLista(frm, 'pautaLista').controls" let-i="index">
        <tr [formGroupName]="i">
          <th>
            {{i+1}}.
          </th>
          <td>
            <label *ngIf="!pauta['editando']">{{pauta.value.codigo}}</label>
            <div class="form-group" *ngIf="pauta['editando']">
              <mat-form-field appearance="fill">
                <mat-label>Código</mat-label>
                <input matInput formControlName="codigo">
              </mat-form-field>
            </div>
          </td>
          <td>
            <label *ngIf="!pauta['editando']">{{pauta.value.nome}}</label>
            <div class="form-group" *ngIf="pauta['editando']">
              <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
              </mat-form-field>
            </div>
          </td>
          <td>
            <label *ngIf="!pauta['editando']">{{pauta.value.descricao}}</label>
            <div class="form-group" *ngIf="pauta['editando']">
              <mat-form-field appearance="fill">
                <mat-label>Descrição</mat-label>
                <textarea matInput mat-autosize formControlName="descricao"></textarea>
              </mat-form-field>
            </div>
          </td>
          <td>
            <label *ngIf="!pauta['editando']">{{pauta.value.quantidadeEscolha}}</label>
            <div class="form-group" *ngIf="pauta['editando']">
              <mat-form-field appearance="fill">
                <mat-label>Quantidade de Escolhas</mat-label>
                <input matInput type="number" formControlName="quantidadeEscolha">
              </mat-form-field>
            </div>
          </td>
          <td>
            <div *ngIf="!pauta['editando']">
              <button mat-button (click)="pautaEditar(pauta)">Editar</button>
              <button mat-button (click)="pautaExcluir(frm, i)">Excluir</button>
            </div>
            <div *ngIf="pauta['editando']">
              <button mat-button (click)="pautaSalvar(pauta)">salvar</button>
            </div>
          </td>
        </tr>
        <tr [formGroupName]="i">
          <td>&nbsp;</td>
          <td colspan="5">
            <h3>Opções</h3>
            <button mat-button (click)="opcaoIncluir(pauta)">Incluir</button>
            <table class="table table-responsive table-striped" style="width: 100%;"
              *ngIf="getLista(pauta, 'opcaoLista').controls.length">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody formArrayName="opcaoLista">
                <tr *ngFor="let opcao of getLista(pauta, 'opcaoLista').controls; let j = index" [formGroupName]="j">
                  <td>
                    {{j+1}}.
                  </td>
                  <td>
                    <label *ngIf="!opcao['editando']">{{opcao.value.codigo}}</label>
                    <div class="form-group" *ngIf="opcao['editando']">
                      <mat-form-field appearance="fill">
                        <mat-label>Código</mat-label>
                        <input matInput formControlName="codigo">
                      </mat-form-field>
                    </div>
                  </td>
                  <td>
                    <label *ngIf="!opcao['editando']">{{opcao.value.nome}}</label>
                    <div class="form-group" *ngIf="opcao['editando']">
                      <mat-form-field appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome">
                      </mat-form-field>
                    </div>
                  </td>
                  <td>
                    <label *ngIf="!opcao['editando']">{{opcao.value.descricao}}</label>
                    <div class="form-group" *ngIf="opcao['editando']">
                      <mat-form-field appearance="fill">
                        <mat-label>Descrição</mat-label>
                        <textarea matInput mat-autosize formControlName="descricao"></textarea>
                      </mat-form-field>
                    </div>
                  </td>
                  <td>
                    <div>
                      <div *ngIf="!opcao['editando']">
                        <button mat-button (click)="opcaoEditar(opcao)">Editar</button>
                        <button mat-button (click)="opcaoExcluir(frm, j)">Excluir</button>
                      </div>
                      <div *ngIf="opcao['editando']">
                        <button mat-button (click)="opcaoSalvar(opcao)">salvar</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <h2>Votantes</h2>

  <div class="form-group">
    <mat-label>Arquivo</mat-label>
    <input type="file" (change)="lerArquivo($event)">
  </div>

  <button mat-button (click)="votanteIncluir(frm)">Incluir</button>
  <button mat-button (click)="enviarLinkTodos()" *ngIf="getLista(frm, 'votanteLista').controls.length">Enviar Link a
    Todos</button>
  <table class="table table-responsive table-striped" style="width: 100%;"
    *ngIf="getLista(frm, 'votanteLista').controls.length">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Identificação</th>
        <th>Nome</th>
        <th>Contato</th>
        <th>Senha</th>
        <th>Votou</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody formArrayName="votanteLista">
      <tr *ngFor="let votante of getLista(frm, 'votanteLista').controls; let i = index" [formGroupName]="i">
        <td>
          {{i+1}}.
        </td>
        <td>
          <label *ngIf="!votante['editando']">{{votante.value.identificacao}}</label>
          <div class="form-group" *ngIf="votante['editando']">
            <mat-form-field appearance="fill">
              <mat-label>Identificação</mat-label>
              <input matInput formControlName="identificacao">
            </mat-form-field>
          </div>
        </td>
        <td>
          <label *ngIf="!votante['editando']">{{votante.value.nome}}</label>
          <div class="form-group" *ngIf="votante['editando']">
            <mat-form-field appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome">
            </mat-form-field>
          </div>
        </td>
        <td>
          <label *ngIf="!votante['editando']">{{votante.value.contato}}</label>
          <div class="form-group" *ngIf="votante['editando']">
            <mat-form-field appearance="fill">
              <mat-label>Contato</mat-label>
              <input matInput formControlName="contato">
            </mat-form-field>
          </div>
        </td>
        <td>
          <label *ngIf="!votante['editando']">****</label>
          <div class="form-group" *ngIf="votante['editando']">
            <mat-form-field appearance="fill">
              <mat-label>Senha</mat-label>
              <input matInput type="password" formControlName="senha">
            </mat-form-field>
          </div>
        </td>
        <td>
          <mat-checkbox [checked]="votante.value.votou" [disabled]="true"></mat-checkbox>
        </td>
        <td>
          <div>
            <div *ngIf="!votante['editando']">
              <button mat-button (click)="votanteEditar(votante)">Editar</button>
              <button mat-button (click)="votanteExcluir(frm, i)">Excluir</button>
              <button mat-button (click)="enviarLink(votante.value)">Enviar Link</button>
            </div>
            <div *ngIf="votante['editando']">
              <button mat-button (click)="votanteSalvar(votante)">salvar</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-right footer navbar-fixed-bottom">
    <button mat-button class="btn btn-primary">Salvar</button>
  </div>

</form>
